.field {
    display:flex;
    position: relative;
    margin: 2em 9em 1em 10%;
    width:80%;
}

.field input[type=text],
.field input[type=submit]{
    display:block;
    font:1.2em Myriad Pro;
}

.field input[type=text] {
    flex: 1;
    padding:0.6em;
    border:0.2em ;
    border-radius: 3px;
}

.field input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.field input[type=submit] {
    padding:0.6em 0.8em;
    background-color: #2E7ECC;
    color:white;
    border:none;
    border-radius: 3px;
}
.field input[type=submit]:hover {
    cursor:pointer;
    background: #67A1DA;
}
h1{
    background:#2980b9;
    color:#FFF;
    padding:10px;
    text-align:center;
    font-size:24px;
}